<input type="radio" id="s_{{id}}" name="shortcut" value="{{id}}" data-object="{{object}}">
<label for="s_{{id}}" class="shortcut_label">
  {{#context}}
    <span class="context tippy" title="context">
      <span class="modifier_keys">
        {{#modifier_keys}}
          <kbd>{{code}}</kbd>
        {{/modifier_keys}}
      </span>

      <span class="keys_sequence">
        {{#keys_sequence}}
          <kbd>{{code}}</kbd>
        {{/keys_sequence}}
      </span>
    </span>
  {{/context}}

  <span class="modifier_keys tippy" title="modifier">
    {{#modifier_keys}}
      <kbd>{{code}}</kbd>
    {{/modifier_keys}}
  </span>

  <span class="keys_sequence tippy" title="sequence">
    {{#keys_sequence}}
      <kbd>{{code}}</kbd>
    {{/keys_sequence}}
  </span>
</label>
<br>
