<div class="form-group row">
  <label for="category" class="col-sm-2 col-form-label">options</label>
  <div class="col-sm-10">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="tabs_action" id="new" value="new">
      <label class="form-check-label" for="new">
        open a new tab
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="tabs_action" id="close_current" value="close_current">
      <label class="form-check-label" for="close_current">
        close current tab
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="tabs_action" id="hide_all" value="hide_all">
      <label class="form-check-label" for="hide_all">
        hide all possible tabs
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="tabs_action" id="show_all" value="show_all">
      <label class="form-check-label" for="show_all">
        show all hidden tabs
      </label>
    </div>
  </div>
</div>
